#logout {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 20px;
    margin-right: 150px;
    position:absolute;
    top:0;
    right:0;
}

.logout {
    border: 3px black; 
    border-radius: 40px; 
    background-color: black; 
    padding: 10px 50px;
    font-size: 16px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.logout:hover {
    background-color: lightskyblue;
    color: black;
    border: 3px lightskyblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px;
    transition: 300ms ease-in-out;
}

.overlay {
    text-align: center;
    font-family: Arial;
    color: black;
    font-size: 17px;
    padding: 50px 10px;
    width: 400px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    top: 140px;
    line-height: 25px;
}

.header h1 {
    font-weight: bold;
    font-size: 35px;
    color: black;
}

body {
    background-color: white;
}

.button {
    border: 3px black; 
    border-radius: 40px; 
    background-color: black; 
    padding: 10px 100px;
    font-size: 16px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 40px;
}

.button:hover {
    background-color: lightskyblue;
    color: black;
    border: 3px lightskyblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 100px;
    transition: 300ms ease-in-out;
}

#appointment_type {
    border: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 10px;
    font-size: 14px;
    width: 80%;
    margin-top: 30px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

#current_location {
    border: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 10px;
    font-size: 14px;
    width: 80%;
    margin-top: 30px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.sign-up {
    font-size: 15px;
    position: relative;
    right: 5px;
}

.sign-up p a {
    color: blue;
}

#icon2 {
    position: absolute;
    top: 41.6%;
    right: 8%;
}