<!DOCTYPE html>
<html>
    <head>
        <link href="/css/appointment.css" rel="stylesheet">
        <title>Register</title>
        <script src="https://kit.fontawesome.com/4e4c23d5e2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="overlay">
            <div class="header">
                <h1>Successfuly found a clinic!!</h1>
            </div>
            <br>
        </section>
    </body>
</html>